body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.header {
    color: #4caf50;
    text-shadow: 0px 4px 1px rgba(0, 0, 0, 0.2);
  
}


#message {
  font-size: 18px;
  margin: 10px 0;
}

.input-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#submit-button {
  margin-left: 10px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
}

#submit-button:hover {
  background-color: #45a049;
}

#historyContainer {
  margin-top: 20px;
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
}

#guessHistory {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.guessBox {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.correctGuess {
  color: #4caf50;
}

.incorrectGuess {
  color: #d9534f;
}

#chancesLeft {
  margin-top: 20px;
  font-size: 16px;
  color: #555;
}

#chances {
  font-weight: bold;
  color: #333;
}

#reset-button {
  font-size: 28px; 
  color: #fff;
  background-color: #ff0000; 
  border: none;
  border-radius: 4px;
  padding: 3px 8px;
  margin-left: 5px;
}

#reset-button:hover {
  background-color: #cc0000; 
}